// 引入清除默认样式
@use 'reset';

//滚动条样式
//  设置滚动条宽度
::-webkit-scrollbar {
  width: 10px;
}
//  设置滚动条轨道颜色
::-webkit-scrollbar-track {
  background: $base-menu-background;
}
//  设置滚动条滑块颜色
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #adea08;
  border-radius: 10px;
}