/* reset.scss（推荐版） */
* {
        box-sizing: border-box;
}

body {
        margin: 0;
        line-height: 1.5;
}

ul,
ol {
        margin: 0;
        padding: 0;
        list-style: none;
}

a {
        color: inherit;
        text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0;
        font-weight: inherit;
}
