// 全局变量定义
//左侧菜单宽度
$base-menu-width: 260px;
//左侧菜单背景色
$base-menu-background: #001529;
//左侧最小宽度
$base-menu-min-width:60px;
//顶部导航高度
$base-tabbar-height: 50px;
//左侧菜单logo高度
$base-menu-logo-height: 50px;
//左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;